header {
  background: #ffe6f3;
}

header nav {
  display: block;
}

header nav li {
  text-align: center;
  width: 100%;
}

header nav a {
  color: #000000;
  display: inline-block;
  text-decoration: none;
  font-family: Lato, sans-serif;
  width: 100%;
  transition: 550ms;
}

heder nav a:hover {
  background-color: #434345;
  transition: 550ms;
  border-radius: 5px;
}

.vrpaintlogo {
  max-width: 5rem;
}

header {
  background-color: #ffe6f3;
  padding: 1em;
}
