header {
  background: #ffe6f3;
}

header nav {
  display: block;
}

header nav li {
  text-align: center;
  width: 100%;
}

header nav a {
  color: #000000;
  display: inline-block;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  width: 100%;
  transition: 550ms;
}

header nav a:hover {
  background-color: #434345;
  transition: 550ms;
  border-radius: 5px;
}

.current {
  background: #434345;
  border-radius: 5px;
}

.vrpaintlogo {
  max-width: 5rem;
}

main {
  font-family: Roboto, serif;
}

h1,
label {
  font-family: Roboto, sans-serif;
  font-family: bold;
}

label {
  color: #434345;
}

.h1-white {
  color: #fff;
  width: 15rem;
}

.banner-content {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.value-proposition {
  background-color: rgba(5, 5, 5, .6);
  border-radius: 8px;
}

.caption {
  color: #434345;
}

h2 {
  font-family: Roboto, sans-serif;
  color: #434345;
}

caption {
  font-family: Roboto, sans-serif;
  color: #c168b0;
}

h3 {
  font-family: Roboto, sans-serif;
  color: #c168b0;
}

p {
  width: 100%;
}

.feature-icons {
  max width: 3rem;
  position: center;
}

footer a {
  color: #c168b0;
  text-decoration: none;
}
